<div *ngIf="isAuthenticated()">
  <div>
    <mat-form-field>
      <input matInput (keyup)="applyTableFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <table mat-table [dataSource]="loadedWatchlistDataSource" matSort class="mat-elevation-z8" matSort>

      <ng-container matColumnDef="cardName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Card Name </th>
        <td mat-cell *matCellDef="let element"> {{element.cardName}} </td>
      </ng-container>

      <ng-container matColumnDef="setName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Set Name </th>
        <td mat-cell *matCellDef="let element"> {{element.setName}} </td>
      </ng-container>

      <ng-container matColumnDef="startingPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Starting Price </th>
        <td mat-cell *matCellDef="let element"> {{element.startingPrice | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="lastPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Seen Price </th>
        <td mat-cell *matCellDef="let element"> {{element.lastSeenPrice | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="currentPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Current Price </th>
        <td mat-cell *matCellDef="let element"> {{element.currentPrice | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="isUpdating">
        <th mat-header-cell *matHeaderCellDef mat-header></th>
        <mat-cell *matCellDef="let row">
          <mat-progress-bar mode="buffer" *ngIf="row.isUpdating"></mat-progress-bar>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-header></th>
        <mat-cell *matCellDef="let row" style="display: flex">
          <button mat-stroked-button color="primary" (click)="removeCardFromWatchlistApi(row.multiverseId)">Remove!</button>
          &nbsp;&nbsp;
          <button mat-stroked-button color="primary" (click)="openViewCardDialog(row.multiverseId)">View card!</button>
          &nbsp;&nbsp;
          <button matTooltip="Warning - manual edits can cause unexpected behavior!" mat-stroked-button color="warn">Manually edit! (Non-functional) </button>
        </mat-cell>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <br>

    <progress-bar-button [options]="fetchCardsButtonOptions" (click)="getWatchlistItemsFromApi()"></progress-bar-button>
    &nbsp;&nbsp;
    <progress-bar-button [options]="updateCardPricesButtonOptions" (click)="updateAllCardPricesFromApi()"></progress-bar-button>
  </div>
  <br>
  <mat-divider></mat-divider>
  <br>
  <div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Track a new card</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput required placeholder="Card Name" value="" [(ngModel)]="newCard.cardName">
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Set Name" (selectionChange)="updateNewCardPriceFromApi()" [(value)]="newCard"
            (click)="fetchCardSetsFromApi()">
            <mat-option *ngIf="cardOptions.length == 0" [value]="emptyCard">No cards found!</mat-option>
            <mat-option *ngFor='let card of cardOptions' [value]='card'>{{card.setName}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Current Price" value="" ng-disabled="!this.priceLoading" [(ngModel)]="this.newCard.currentPrice">
        </mat-form-field>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <progress-bar-button [options]="addCardButtonOptions" (click)="addNewCardToWatchlistApi()"></progress-bar-button>
        <button mat-button type="button" class="btn btn-outline-secondary" (click)="openViewCardDialog(newCard.multiverseId)"
          *ngIf="newCard.multiverseId != null && newCard.multiverseId > 0">View card!</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div *ngIf="isDevelopment">
  Developer values
  <pre>
    newCard: {{newCard | json}}
  </pre>
  <pre>
    currentlyLoadedCardName: {{currentlyLoadedCardName}}
  </pre>
  <pre>
    cardOptions: {{cardOptions | json}}
  </pre>
</div>