* {
  font-family: 'Proxima Nova', sans-serif;
}

table {
    width: 100%;
  }  

th.mat-sort-header-sorted {
  color: black;
}

.add-card-header-image {
  background-image: url('https://can-zhao-uw.squarespace.com/s/Track.png');
  background-size: auto;
}

.card-list-header-image {
  background-image: url('https://can-zhao-uw.squarespace.com/s/List.png');
  background-size: auto;
}

.label-text {
  font-weight: bold;
  font-size: 120%
}

.flex-grid {
  display: flex;
  justify-content: space-between;
}

.add-card-column {
  flex: 1;
}

.watchlist-column {
  flex: 2;
}

.mat-card {
  width: 98%;
  min-width: 350px;
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}
