/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
* { box-sizing: border-box; }
mat-icon{
    font-family: 'Material Icons' !important;
    }

.mat-raised-button.mat-primary {
    background-color: rgba(0,0,0,.87) !important;
}
