/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
* { box-sizing: border-box; }
mat-icon{
    font-family: 'Material Icons' !important;
    }
.mat-raised-button:not([class*=mat-elevation-z]) {
  background:#000000;
border-radius:5px;
width:200px;
height:80px;
}
